**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/*.user
**/*.suo
**/bin
**/obj
**/publish
**/logs
**/*.log
**/node_modules
**/.dockerignore
**/Dockerfile
**/docker-compose*.yml
**/*.md
**/.env
**/.env.local
**/appsettings.Development.json
**/appsettings.Local.json

